body, h1, h2, h3, td, th, tr, a, p, table {
  margin : 0;
  padding: 0;
}

/* HEADER */
/*--------------------------------------*/
header {
  background: #4e5965;
  height: 100px;
  text-align: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2);
}

header h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2em;
  line-height: 100px;
  color: #fff;
}


/* TABLE */
/*--------------------------------------*/
table {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  border-collapse: collapse;
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}



/* MONTH */
/*--------------------------------------*/
.month {
  background: #663c1f;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2em;
  height: 50px;
}



/* WEEKS */
/*--------------------------------------*/
.weeks {
  background: #d2bb38;
  height: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.25em;
  color: #4e5965;
  text-align: center;
}



/* DAYS */
/*--------------------------------------*/
.week1 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em 'Raleway', sans-serif;
  color: black;
}

.week2 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em 'Raleway', sans-serif;
  color: black;
}

.week3 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em 'Raleway', sans-serif;
  color: black;
}

.week4 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em 'Raleway', sans-serif;
  color: black;
}

.week5 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em 'Raleway', sans-serif;
  color: black;
}

.days:hover {
  background: #d2bb38;
  color: #fff;
  border-radius: 50%;
}