body, h1, h2, h3, td, th, tr, a, p, table {
  margin : 0;
  padding: 0;
}

/* HEADER */
/*--------------------------------------*/
header {
  background: #4e5965;
  height: 100px;
  text-align: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2);
}

header h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2em;
  line-height: 100px;
  margin-bottom: 10px;
  color: #fff;
}

.color-1,
.color-2{
  border: 1px solid #000;
  margin: 7px auto 2px;
  height: 10px;
  width: 10px;
}

.color-1{
  background-color: #663c1f;
}

.color-2{
  background-color: #4e5965;
}

header p{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}


/* TABLE */
/*--------------------------------------*/
table {
  width: 200px;
  height: 200px;
  margin: 90px auto;
  border-collapse: collapse;
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}



/* MONTH */
/*--------------------------------------*/
.month {
  background: #663c1f;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1em;
  height: 50px;
}



/* WEEKS */
/*--------------------------------------*/
.weeks {
  background: #d2bb38;
  height: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: .5em;
  color: #4e5965;
  text-align: center;
}



/* DAYS */
/*--------------------------------------*/
.week1 td {
  height: 25px;
  width: 25px;
  text-align: center;
  font: 400 .5em/.5em 'Raleway', sans-serif;
  color: black;
}

.week2 td {
  height: 25px;
  width: 25px;
  text-align: center;
  font: 400 .5em/.5em 'Raleway', sans-serif;
  color: black;
  margin: 0 1px;
}

.week3 td {
  height: 25px;
  width: 25px;
  text-align: center;
  font: 400 .5em/.5em 'Raleway', sans-serif;
  color: black;
  margin: 0 1px;
}

.week4 td {
  height: 25px;
  width: 25px;
  text-align: center;
  font: 400 .5em/.5em 'Raleway', sans-serif;
  color: black;
}

.week5 td {
  height: 25px;
  width: 25px;
  text-align: center;
  font: 400 .5em/.5em 'Raleway', sans-serif;
  color: black;
}

.homework-color{
  border-bottom: 3px solid #663c1f;
}

.function-color{
  border-bottom: 3px solid #4e5965;
}
