/* Set Your Own Margin & Padding */
h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	margin: 10px;
}

p, em{
	font-family: 'Raleway', sans-serif;
}

/* Layout for Style Tile*/
section {
	margin: 30px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1
 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Style Tile for Austin*/

.color-1{
	background: #4e5965;
}

.color-2{
	background: black;
}

.color-3{
	background: #663c1f;
}

.color-4{
	background: #d2bb38;
}

h1, h2{
	font-weight: 800;
}
h1{
	font-size: 2em;
	color: #663c1f;
}

h2{
	font-size: 1.25em;
	color: #4e5965;
}

a{
	text-decoration: none;
}

a:visited{
	color: #d2bb38;
}

a:hover{
	color: #4e5965;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}